/*     GLOBAL    */
@font-face {
    font-family: "Dancing";
    src: url("../fonts/DancingScript-Bold.woff") format("woff");
}
  

@font-face {
    font-family: "Archivo bold";
    src: url("../fonts/ArchivoNarrow-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Archivo regulier";
    src: url("../fonts/ArchivoNarrow-Regular.woff") format("woff");
}

html, body, section, nav  ul, h1,  h2,  h3, h4, h5, img, span, p, pre, a, img, div {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Archivo regulier'; 
    min-height: 100vh;  
    min-width: 320px;
}

abbr {
    text-decoration: none;
}

a {
    color: #066a83;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: #00ffff;
}

/*    HEADER    */
header {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    align-items: center;
    background: rgb(6, 106, 131);
    box-shadow: 0 2px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.boite-entete {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Dancing';
    font-size: 2rem;
}

h1 + p {
    padding: 10px 0 25px;
}

/*    NAVIGATION SUPÉRIEUR   */
nav {
    font-family: 'Dancing';
    width: 100%;
    font-size: 1.8rem;
}

ul {
    display: flex;
    justify-content: space-around;
}
 
ul > li {
    list-style-type: none; 
}

li a {
    text-transform: uppercase;
}

li a:link {
    color: #ffffff;
    text-decoration: none;
}

li a:visited {
    color: #00ffff;
}

li a:focus {
    outline: none;
    border: 2px solid #00ffff;
    border-radius: 15px;
}

li a:focus,
li a:hover,
li a:active {
    color: #ffa500;
    transition: .5s ease-in;
}

@keyframes headerDimension {
    0% {height: 400px}
    100% {height: 160px}
}

/*   MAIN   */ 
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
}

h2 {
    font-family: 'Dancing';
    font-size: 1.5rem;
    transition: color .3s ease-in;
}

h2 span {
    font-family: 'Archivo bold';
    font-size: 1rem;
    margin-left: 10px;
}

.lettre {
    background-color: rgb(6, 106, 131);
    margin-top: 10px;
    transition: background-color .3s ease-in;
    width: 100%;
   
}

.details {
    color: #066a83;
}

.lettre-entete {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    padding: 40px 20px;
    transition: background-color .3s ease-in;
    scroll-margin-top: 210px;
}

.lettre-entete:focus,                                                  
.lettre-entete:hover,
.lettre-entete:active {
    background-color: #00ffff;
    border-bottom: 1px solid #066a83;
    border-top: 1px solid #066a83;
    color: #066a83;
    outline: none;
}

.lettre-corps {
    background-color: #ffffff;
    color: black;
    padding: 20px;
}

.boite-exemple {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    position: relative;
    width: 90%;
}

.rendu,
.codes {
    border: 1px solid black;
    box-sizing: border-box;
    margin: 20px auto;
    min-height: 100px;
    padding: 20px;
    position: relative;
    width: 100%;
}

.rendu,
.codes, 
.rendu section,
.codes section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h3 {
    margin: 20px 0;
    text-align: center;
}

h4 {
    background-color: #ffffff;
    left: 25px;
    padding: 5px;
    position: absolute;
    top: -15px;
}

h5 {
    margin: 10px 5px;
}

h4 + h5 {
    margin-top: 20px;
}

pre {
    font-size: .8rem;
    width: 300px;
}

/*  ÉTAT BOUTONS ET CONTENUS ACTIFS  */
.actif {
    background-color: #00ffff;
    box-shadow: none;
}

.non-visible {
    display: none;
}

/*   BOUTONS   */
button {
    border: .5px solid #066a83;
    font-family: 'Archivo bold';
    font-size: 1rem;
    padding: 5px;
}

.retour-en-haut {
    align-items: center;
    animation-duration: 2s; 
    animation-iteration-count: initial; 
    animation-fill-mode: forwards;
    bottom: 20px;
    box-sizing: border-box;
    color: #066a83;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    height: 40px;
    justify-content: center;
    opacity: 0;
    padding: 0 5px 5px 5px;
    position: fixed;
    right: 20px;
    text-decoration: none;
    transform: rotate(-90deg);
    width: 40px;
}

button,
.retour-en-haut {
    background-color: #ffffff;
    border-radius: 5%;
    box-shadow: 0 0 4px rgb(0, 0, 0, .5);
    color: #066a83;
    font-weight: bold;
    margin: 0 0 0 20px;
    transition: .5s ease-out;
}

.nav-inferieur {
    display: flex;
    justify-content: flex-start;
    margin: 40px 5%;
}

.retour-en-haut:focus {
    outline: none;
    border: 2px solid #ffa500;
}

button:focus,
button:hover,
.retour-en-haut:focus,
.retour-en-haut:hover {
    background-color: #00ffff;
}

.retour-en-haut:active {
    background-color: #ffffff;
    box-shadow: none;
}

@keyframes apparition {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/*  FOOTER  */
footer {
    margin: 40px 0 20px;
}

footer p {
    color: black;
    font-size: smaller;
    text-align: center;
}

/* ANIMATION */
.animation {
    box-sizing: border-box;
    background-color: #066a83;
    height: 100px;
    padding: 10px;
    position: relative;
    margin: 40px auto;
    width: 100px;
}

.rotation {
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}

.deplacement {
    animation-name: deplacement;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.conteneur-dimension  {
    height: 200px;
    width: 100%;
}

.dimension {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: dimension;
}

@keyframes rotation {
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}

@keyframes deplacement {
    0% {right: 0px;}
    33% {right: 100px;}
    66% {right: -100px;}
    100% {right: 0px;}
}

@keyframes dimension {
    0% {height: 100px; width: 100px;}
    33% {height: 150px; width: 150px;}
    66% {height: 50px; width: 50px;}
    100% {height: 100px; width: 100px;}
}

/* ARRIÈRE-PLANS MULTIPLES */
.rendu.arr-plans {
    align-items: center;
}

.arr-plans-multiples {
    align-items: center;
    background-color: #066a83;
    background-image: url("../img/photo-arr-plan.jpg"), url("../img/photo-bordure.jpg");
    background-position: right top, left bottom;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    height: 250px;
    justify-content: center;
    padding: 10px;
    text-align: center;
    width: 300px;
}

/* BACKGROUND */

.rendu.background {
    flex-direction: row;
    flex-wrap: wrap;
}

.rendu.background section {
    align-items: center;
    max-height: 240px;
}

.rendu.background section div {
    background-image: url('../img/photo-arr-plan.jpg');
    background-size: cover;
    height: 160px;
    margin: 20px 20px 0 20px ;
    width: 160px;
}

.blend-mode {
    background-blend-mode: hard-light;
    background-color: aqua;
}

.clip-content-box {
    background-clip: content-box;
    background-origin: content-box;
    border: 10px solid rgb(0, 255, 255, .5);
}

.clip-border-box {
    background-clip: border-box;
    background-origin: border-box;
    border: 10px solid rgb(0, 255, 255, .5);
}

.clip-padding-box {
    background-clip: padding-box;
    background-origin: padding-box;
    border: 10px solid rgb(0, 255, 255, .5);
}

/* LES  BOITES DÉCORATIVES*/
.texte-en-colonne {
    columns: 0px 3; 
    font: 8px/16px sans-serif;
    font-size: .6rem;
    margin: 30px auto;
    padding: 15px;
    vertical-align: text-top;
    width: 300px;
}

.texte-int-colonne {
    border: 3px solid #066a83;
    box-decoration-break: clone; 
    padding: 10px;
}

/* LES BORDURES */
.bordure-image {
    border: 10px solid transparent;
    border-image: url('../img/fond-eau.jpg') 50 round;
    padding: 20px;
    text-align: center;
}

/* LES DÉGRADÉS */
.rendu.gradient {
    flex-direction: row;
    flex-wrap: wrap;
}

.rendu.gradient section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 10px;
}

.rendu.gradient div {
    height: 200px;
    width: 200px;
}

.rond {
    border-radius: 50%;
}

.lineaire {
    background: linear-gradient(to bottom right, #066a83, #00ffff)
}

.lineaire-multiples-couleurs {
    background: linear-gradient(to left, #066a83,  #fff, #ffa500, #00ffff);
}

.radial {
    background: radial-gradient(#066a83, #00ffff);
}

.radial-multiples-couleurs {
    background:
      radial-gradient(circle at 50% 0,
        #00ffff,
        rgba(255,0,0,0) 70.71%),
      radial-gradient(circle at 6.7% 75%,
        #ffa500,
        rgba(0,0,255,0) 70.71%),
      radial-gradient(circle at 93.3% 75%,
        #066a83,
        rgba(0,255,0,0) 70.71%) #fff;
}

/* LES FILTRES */
section figure {
    height: 200px;
    margin: 40px 15px;
    width: 200px;
}

figure img {
    width: 100%;
}

figcaption {
    text-align: center;
}

.rendu.filtre {
    align-items: center;
}
.sepia {
    filter: sepia(60%);
}

.blur {
    filter: blur(5px);
}

.drop-shadow {
    filter: drop-shadow(16px 16px 20px red) invert(75%);
}

.opacity {
    filter: opacity(25%);
}

.contrast {
    filter: contrast(300%);
}

/* FONTFACES */

@font-face {
    font-family: "Junky";
    src: url("../fonts/JINKY.woff") format("woff");
}

.fontface {
    font-family: 'Junky';
    font-size: 4rem;
}

/* FORMES GÉOMÉTRIQUES */
.rendu.formes {
    align-items: center;
}

.formes p {
    font-size: .8rem;
    margin: 0;
}

.forme {
    height: 200px;
    margin: 50px;
    width: 200px;
}

.triangle {
    border-bottom: 150px solid #066a83;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    height: 0;
    width: 0;
}

.coeur {
    background-color: #066a83;
    display: inline-block;
    height: 100px;
    margin-top: 80px;
    padding: 0;
    position: relative;
    transform: rotate(-45deg);
    width: 100px;
}

.coeur:before,
.coeur:after {
    background-color:#066a83;
    border-radius: 50%;
    content: "";
    height: 100px;
    position: absolute;
    width: 100px;
}

.coeur:before {
    left: 0;
    top: -50%;
}

.coeur:after {
    left: 50%;
    top: 0;
}

.loupe {
    border: 0.1em solid #066a83;
    border-radius: 0.35em;
    box-sizing: content-box;
    display: inline-block;
    font-size: 12em;
    height: 100px;
    position: relative;
    width: 100px;
}

.loupe:before {
    background: #066a83;
    border-width: 0;
    bottom: -0.1em;
    content: "";
    display: inline-block;
    height: 0.08em;
    position: absolute;
    right: -0.25em;
    transform: rotate(45deg);
    width: 0.35em;
}

.dialogue {
    background: #066a83;
    border-radius: 10px;
    height: 100px;
    margin-top: 70px;
    position: relative;
    width: 150px;
}

.dialogue:before {
    border-bottom: 13px solid transparent;
    border-right: 26px solid #066a83;
    border-top: 13px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    right: 100%;
    top: 35px;
    width: 0;
}

.etoile {
    border-bottom: 70px solid #066a83;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    height: 0px;
    margin: 100px 0;
    position: relative;
    transform: rotate(35deg);
    width: 0px;
}

.etoile::before {
    border-bottom: 80px solid #066a83;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    content: '';
    height: 0;
    left: -65px;
    position: absolute;
    top: -45px;
    transform: rotate(-35deg);
    width: 0;
}

.etoile::after {
    border-bottom: 70px solid #066a83;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    content: '';
    height: 0px;
    left: -105px;
    position: absolute;
    top: 3px;
    transform: rotate(-70deg);
    width: 0px;
}

.infini {
    box-sizing: content-box;
    height: 100px;
    position: relative;
    width: 212px;
}

.infini:before,
.infini:after {
    border: 20px solid #066a83;
    border-radius: 50px 50px 0 50px;
    box-sizing: content-box;
    content: "";
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(-45deg);
    width: 60px;
}

.infini:after {
    border-radius: 50px 50px 50px 0;
    left: auto;
    right: 0;
    transform: rotate(45deg);
}

/* DISPLAY GRID */
.rendu.grid {
    align-items: center;
}

.grid-grilles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
    text-align: center;
    width: 220px;
}

.grid-grilles p {
    margin-top: 10px;
}

.grid-template-desordre {
    border: 2px solid #066a83;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 200px;
    margin: 0 auto;
    width: 200px;
}

.grid-template-desordre div {
    align-content: center;
    background-color: #066a83;
    color: white;
    display: grid;
    justify-content: center;
}

.grid-template-desordre div:first-child {
    grid-area: 2 / 2 / 3 / 3 ;
}

.grid-template-desordre div:nth-child(2) {
    grid-area: 6 / 6 / 7 / 7 ;
}

.grid-template-desordre div:nth-child(3) {
    grid-area: 3 / 3 / 4 / 6 ;
}

.grid-template-desordre div:nth-child(4) {
    grid-area: 5 / 1 / span 2 / span 2 ;
}

.grid-template-desordre div:last-child {
    grid-area: 1 / 4 / span 1 / span 3 ;
}

.grid-template-invader {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 160px;
    margin: 0 auto;
    width: 220px;
}

.grid-template-invader div {
    background-color: #066a83;
}

.grid-template-invader div:first-child {
    grid-area: 1 / 3 / 2 / 4 ;
}

.grid-template-invader div:nth-child(2) {
    grid-area: 1 / 9 / 2 / 10 ;
}

.grid-template-invader div:nth-child(3) {
    grid-area: 2 / 4 / 3 / 5 ;
}

.grid-template-invader div:nth-child(4) {
    grid-area: 2 / 8 / 3 / 9 ;
}

.grid-template-invader div:nth-child(5) {
    grid-column: 3 / span 7;
}

.grid-template-invader div:nth-child(6) {
    grid-column: 2 / span 2;
}

.grid-template-invader div:nth-child(7) {
    grid-column: 5 / span 3;
}

.grid-template-invader div:nth-child(8) {
    grid-column: 9 / span 2;
}

.grid-template-invader div:nth-child(9) {
    grid-column: 1 / span 11;
}

.grid-template-invader div:nth-child(10) {
    grid-column: 1 / 2;
    grid-row: 6 / span 2;
}

.grid-template-invader div:nth-child(11) {
    grid-column: 3 / span 7;
}

.grid-template-invader div:nth-child(12) {
    grid-column: 11 / 12;
    grid-row: 6 / span 2;
}

.grid-template-invader div:nth-child(13) {
    grid-area: 7 / 3 / 8 / 4;
}

.grid-template-invader div:nth-child(14) {
    grid-area: 7 / 9 / 8 / 10;
}

.grid-template-invader div:nth-child(15) {
    grid-area: 8 / 4 / 9 / 6;
}

.grid-template-invader div:nth-child(16) {
    grid-area: 8 / 7 / 9 / 9;
}

/* MEDIAS QUERIES */
.mediaqueries {
    color:#066a83;
    padding: 20px 0;
    text-align: center;
}

@media screen and (min-width: 800px) {
    .mediaqueries {
        background-color: #066a83;
        color: white
    }
}

/* OPACITY */
.rendu.opacite {
    align-items: center;
}

.opacite div {
    align-items: center;
    display: flex;
    height: 200px;
    justify-content: center;
    margin: 20px auto;
    width: 200px;
}

.opacite div p {
    color: #fff;
}

.opacite1 {
    opacity: 0.1;
}

.opacite2 {
    opacity: 0.5;
}

.opacite3 {
    opacity: 1;
}

.rendu.opacite img {
    width: 100%;
}

/* OVERFLOW */
.rendu.overflow {
    flex-direction: row;
    flex-wrap: wrap;
}

.rendu.overflow section {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.rendu.overflow div {
    border: 6px solid #066a83;
    height: 200px;
    margin: 5px 40px 40px;
    width: 200px;
}

.scroll {
    overflow: scroll;
}

.hidden {
    overflow: hidden;
}

.auto {
    overflow: auto;
}

.visible {
    overflow: visible;
}

/* SHADOW */
.rendu.shadow div {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.rendu.shadow div p {
    margin: 5px 0 20px;
}

.texte-shadow {
    color: rgb(6, 106, 131);
    font-size: 25px;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgb(6, 106, 131, .8);
}

.box-shadow {
    border: 2px solid rgb(6, 106, 131);
    box-shadow: 5px 5px 5px rgb(6, 106, 131, .8);
    height: 100px;
    margin: 0 auto;
    width: 100px;
}

/* TRANSFORMATIONS */
.transformations section {
    margin: 40px;
}

.transformations section h5 {
    margin: 20px auto;
    text-align: center;
    width: 50%;
}

.transformations div {
    background-color: #066a83;
    height: 100px;
    margin: 0 auto;
    width: 100px;
}

.matrix {
    transform: matrix(.5, 1, 1, .5, 2, 2);
}

.translate {
    transform: translateX(100px);
}

.scale {
    transform: scaleX(2);
}

.rotate {
    transform: rotate(45deg);
}

.skew {
    transform: skew(-60deg, 4deg);
}

.perspective {
    transform: perspective(75px) rotateX(80deg);
}

/* TRANSITIONS */
.transitions {
     align-items: center;
}

.transitions h5 {
    align-self: flex-start;
    justify-self: flex-start
}

.transitions div,
.photo-couleur {
    align-items: center;
    background-color: #066a83;
    cursor: pointer;
    display: flex;
    height: 150px;
    justify-content: center;
    margin: 15px;
    width: 150px;
}

.largeur {
    transition: width 1s ease-out;
}

.largeur:focus,
.largeur:hover {
    width: 350px;
}

.couleur {
    transition: background-color 1s ease-in-out;
}

.couleur:focus,
.couleur:hover {
    background-color: #00ffd5;
}

.hauteur {
    transition: height 1s ease-in;
}

.hauteur:focus,
.hauteur:hover {
    height: 250px;
}

.photo {
    position: relative;
}

.photo-couleur,
.photo-image {
    position: absolute;
}

.photo-couleur {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.photo-couleur {
    z-index: 10;
}

.photo-couleur:focus,
.photo-couleur:hover {
    opacity: 0;
}

@media screen and (min-width: 500px) {
    html {
        font-size: 18px;
    }
    .lettre-entete {
        padding: 20px 60px;
    }
}

@media screen and (min-width: 1024px) {

    html {
        font-size: 20px;
    }

    header {
        align-items: baseline;
        flex-direction: row;
        justify-content: space-between;
    }

    nav {
        align-self: flex-end;
        font-size: 2rem;
        width: 50%;
    }

    .boite-entete {
        align-items: flex-start;
    }

    .lettre {
        background-color: #066a83;
        margin-top: 15px;
    }

    .boite-exemple {
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .rendu, 
    .codes {
        margin: 20px;
        width: 50%;
    }

}

@media screen and (min-width: 1400px) {
    html {
        font-size: 22px;
    }
}